
<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>
<br>
<br>
  <!-- Page Content -->
  <div class="container">
  <br>

  <!-- <div class="row"> -->
  <div class="col-md-4">
        <h2>New Item</h2>

        <br>

        <%= form_for [:farmer_admin, @item] do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name, class: "form-control input-md", placeholder: "Name" %>
          </div>
          <div class="form-group">
            <%= f.label "Description" %>
            <%= f.text_field :description, class: "form-control input-md", placeholder: "Description" %>
          </div>
          <div class="form-group">
            <%= f.label "Price" %>
            <%= f.text_field :price, class: "form-control input-md", placeholder: "Price" %>
          </div>
          <div class="form-group">
            <%= f.label "Image Url" %>
            <%= f.text_field :image_url, class: "form-control input-md", placeholder: "Image Url" %>
          </div>
          <div class="form-group">
            <%= f.label "Category" %><br>
            <%= f.collection_select :category_id, Category.all,:id,:name, include_blank: false %>
          </div>
          <%= f.hidden_field :farmer_id, value: current_user.farmer.id %>
          <div class="form-group">
            <%= f.submit "Create Item" %>
          </div>
        <% end %>
  </div>
</div>
