<div class="well">
<%= form_for :address, url: address_path(current_user.address.id), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label "Street" %>
    <%= f.text_field :street_address, class: "form-control input-md", placeholder: current_user.address.street_address %>
  </div>
  <div class="form-group">
    <%= f.label "Apartment" %>
    <%= f.text_field :apt, class: "form-control input-md", placeholder: current_user.address.apt %>
  </div>
  <div class="form-group">
    <%= f.label "City" %>
    <%= f.text_field :city, class: "form-control input-md", placeholder:  current_user.address.city %>
  </div>
  <div class="form-group">
    <%= f.label "State" %>
    <%= f.text_field :state, class: "form-control input-md", placeholder:  current_user.address.state %>
  </div>
  <div class="form-group">
    <%= f.label "Zip Code" %>
    <%= f.text_field :zip_code, class: "form-control input-md", placeholder:  "#{current_user.address.zip_code}" %>
  </div>
    <%= f.submit "Update Address", class: "btn btn-primary" %>
  <% end %>
</div>
