<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

<div class="container">
<h1 id='profile'>Edit Profile</h1>
<h2><%= link_to "Back to Profile", user_path(current_user) %></h2> 
<br>
<%= render partial: "email_form" %>
<%= render partial: "name_form" %>
<%= render partial: "phone_number_form" %>
<%= render partial: "password_form" %>
<% if current_user.address %>
  <%= render partial: "address_form" %>
<% else %>
<div class="well">
  <h4><%= link_to("Add Address", new_address_path) %></h4>
</div>
<% end %>
</div>
