<div class="container text-center">


  <br>

  <div class="row">
    <div class="col-md-offset-4 col-md-4 well" id="login_form">
      <h2>Create Your Account</h2>
      <%= bootstrap_form_for @user do |f| %>
        <div class="form-group">
          <%= f.text_field :email %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, icon: "lock" %>
        </div>

        <div class="form-group">
          <%= f.text_field :first_name %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name %>
        </div>

        <div class="form-group">
          <%= f.text_field :phone_number %>
        </div>

        <div class="form-group">
          <%= f.submit "Create Account", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
