<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Page Content -->
  <div class="container">

  <div class="row">
    <div class="col-lg-12 ">
      <h2 style="text-align:left;float:left;">Hello <%= @user.email %></h1>
      <h3 style="text-align:right;float:right;"><%= link_to "Past Orders", orders_path %>
    </div>
  </div>

  <hr style="clear:both;"/>
  <br>

  <div class="row">
  <div class="col-md-4">
      <div class="well">
        <h2>Profile</h2>
        <h6><%= link_to "Edit Profile", edit_user_path(@user) %></h6>
        <hr>

        <h4>Full Name</h4>
        <%= @user.full_name %>
        <br>
        <br>

        <h4>Address</h4>
        <% if @user.address %>
          <%= @user.address.street_address %>
          <%= @user.address.apt if @user.address.apt %>
          <br>
          <%= @user.address.city %>,
          <%= @user.address.state %>
          <%= @user.address.zip_code %>
        <% end %>
      </div>

  </div>

</div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
