<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>
<br>
<br>
  <!-- Page Content -->
  <div class="container">

  <div class="row">
    <div class="col-lg-12 ">
      <h1> Hello <%= @user.email %> </h1>
    </div>
  </div>

  <hr>
  <div>
      <%= link_to "Order History", orders_path%>
  </div>
  <br>

  <!-- <div class="row"> -->
  <div class="col-md-4">
      <div class="well">
        <h2>Address</h2>

        <br>

        <% if @user.address %>
          <%= @user.address.street_address %>
          <%= @user.address.apt if @user.address.apt %>
          <%= @user.address.city %>
          <%= @user.address.state %>
          <%= @user.address.zip_code %>
        <% end %>
        <%= link_to "Change Address", edit_user_path(@user) %>

      </div>

  </div>

</div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
