<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>
<!-- Page Content -->
  <div class="container">
    <div class="well">

      <!-- Page Heading -->
          <h1><%= "Order #{@order.id}" %></h1>
          <h4 class = "underline"><%= link_to "Past orders", orders_path %></h4>
          <br>
          <div class ="row">
            <div class="col-md-6">
              <h3>Shipping Address </h3>
              <h4><%= "#{@order.user.full_name}" %></h4>
              <h4><%= "#{@order.user.address.street_address}" %><%= "#{@order.user.address.apt}" %></h4>
              <h4><%= "#{@order.user.address.city}, #{@order.user.address.state} #{@order.user.address.zip_code}"%></h4>
            </div>
            <div class="col-md-6 text-right">
              <h4><%= "Status:  #{@order.status.humanize}" %></h4>
              <h4><%= "Date Ordered: #{@order.date} " %></h4>
            </div>
          </div>

        <div class="order-spacer"></div>

    <table class='table'>
      <tr>
          <th class="text-center"><h3>Item</h3></th>
          <th class="text-center"><h3>Price</h3></th>
          <th class="text-center"><h3>Quantity</h3></th>
          <th class="text-center"><h3>Item Subtotal</h3></th>
      </tr>
      <!-- Cart items -->
      <% @order_items.each do |order_item| %>
      <tr>
          <div class="col-md-2">
            <td class="text-center"><h4><%= link_to order_item.item.name, category_item_path(order_item.item.category, order_item.item) %></h4></td>
            <td class="text-center"><h4><%= number_to_currency(order_item.price) %></h4>
          </div>
          <div class="col-md-2">
            <td class="text-center"><h4><%= order_item.quantity %> </h4>
          </div>
          <div class="col-md-2">
            <td class="text-center"><h4><%= number_to_currency(order_item.price * order_item.quantity) %></h4>
          </div>
      </tr>
      <% end %>
    </table>

      <div class="row">
        <div class="col-md-offset-9">
          <h3><%="Total: #{@order.total_price}" %></h3>
        </div>
      </div>

    </div>
  </div>


  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
