<h1>Check out your sweet order!</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Item Subtotal</th>
  </tr>
  <% total = 0 %>
  <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.quantity * order_item.price %>
      <% total += (order_item.quantity * order_item.price ) %>
    </tr>
  <% end %>
</table>
<br>
Total = $<%= total %>

<p><%= @order.status %></p>

<%= link_to "Past orders", orders_path(current_user) %>
