<head>

<meta charset="utf-8">
<title>title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="css/agency.css" rel="stylesheet">

</head>

<body>
  <header>
    <div class="container">
      <div class="intro-text text-center">
        <div class="intro-heading splash-color">Fast flying farm fresh food</div>
        <div class="small-spacer"></div>
        <div class="splash-color2 tagline text-center">Locally sourced Farmers Market goods<br>
          Delivered by cage free drones - right to your door!
        </div>
        <div class="big-spacer"></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <%= link_to vendors_path do %></li>
              <div class="col-md-12 text-center">
                <h1 class="main-link btn btn-lg btn-success">Search by Farmer</h1>
              </div>
            <% end %>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <%= link_to vendors_path do %></li>
              <div class="col-md-12 text-center">
                <h1 class="main-link btn btn-lg btn-success">Search by Flavor</h1>
              </div>
            <% end %>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

  </header>
    <div class="hidden-nav">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
        <% end %>
        <li><%= link_to "Hello, #{current_user.name}", user_path(current_user.id) %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <li><%= link_to "Cart", cart_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Cart", cart_path %></li>
      <% end %>
    </div>

</body>
