<% @orders_data.each do |order, data| %>
  <div id="order_<%= order.id %>">
    <tr>
      <td><%= link_to "Order ID: #{order.id}", order_path(order) %></td>
      <td><%= "#{order.created_at}" %></td>
      <td><%= number_to_currency(data.first) %></td>
      <td><%= data.last.join(', ') %></td>
      <td><%= order.status %></td>
      <!-- <td class="text-center">
        <% DashboardFormatter.new(order).find_links.each do |link| %>
          <%= link_to link[0], order_path(order, status:
            link[1]), method: :patch, class: "btn btn-danger" %>
        <% end %> -->
      </td>
    </tr>
  </div>
<% end %>
