<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Page Content -->
  <div class="container">

      <!-- Page Heading -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Cart</h1>
          </div>
      </div>
      <!-- /.row -->

      <!-- Cart items -->
      <% cart.items.each do |item| %>

      <div class="row">
          <div class="col-sm-3">
            <div class="thumbnail"
              <a href=<%= item_path(item) %>>
                  <img src=<%= item.image_url %> alt="">
              </a>
            </div>
          </div>
          <div class="col-md-3">
              <h2><%= link_to item.name, item_path(item) %></h2>
              <h4><%= item.description %></h4>
              <br>
              <h5>Unit Price: <%= number_to_currency(item.price) %></h5>
          </div>
          <div class="col-md-3">
              <h2>
                  <%= link_to '<i class="glyphicon glyphicon-minus"></i>'.html_safe, cart_items_path(item_id: item.id), method: :delete, class: 'btn btn-primary btn-sm' %>
                  <%= item.quantity %>
                  <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, cart_items_path(item_id: item.id), method: :patch, class: 'btn btn-primary btn-sm' %>
              </h2>
          </div>
          <div class="col-md-3">
            <h2><%= number_to_currency(item.price * item.quantity) %></h2>
          </div>
      </div>

      <hr>
      <% end %>

      <div class="row">
        <div class="col-md-offset-9 col-md-2">
          <h2><u><%= "Total" %></u></h2>
          <h2><%= "#{cart.total_price}" %></h2>
          <br>
          <%= button_to "Check Out", orders_path(current_user), class: "btn btn-success" %>
        </div>
      </div>
  </div>
  <br>
  <br>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
