<div class="well">
<%= form_for :address, url: addresses_path do |f| %>
  <div class="form-group">
    <%= f.text_field :street_address, class: "form-control input-md", placeholder: "Street" %>
  </div>
  <div class="form-group">
    <%= f.text_field :apt, class: "form-control input-md", placeholder: "Apt" %>
  </div>
  <div class="form-group">
    <%= f.text_field :city, class: "form-control input-md", placeholder: "City" %>
  </div>
  <div class="form-group">
    <%= f.text_field :state, class: "form-control input-md", placeholder: "State" %>
  </div>
  <div class="form-group">
    <%= f.text_field :zip_code, class: "form-control input-md", placeholder: "Zip Code" %>
  </div>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
