<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Page Content -->

      <!-- Jumbotron Header -->
      <div class = "row">
      <hr>
        <div class="col-md-12 text-center">
          <h1 id="cart"><%= "#{current_farm.name} " if current_farm %>Items</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <% if current_farmers_farm? %>
              <p><%= link_to "Add Item", new_farmer_admin_item_path(@item), class: "btn btn-primary" %></p>
            <% end %>
          </div>
        </div>
      </header>

      <hr>
      <!-- Title -->

      <!-- Items -->
      <%= render partial: "items/item", collection: @items %>


      <p>
        <%= link_to "View by category", categories_path, class: "btn btn-primary" %>
      </p>
