<div class="col-sm-12 hero-feature">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="">
        <div class="caption text-center" id="item">
            <h3><%= item.name %></h3>
            <p>Offered by <%= item.farmer.name %></p>
            <p><%= item.description %></p>
            <h4><%= number_to_currency(item.price) %></h4>
            <p>
                <%= button_to "Add #{item.name}" , cart_items_path(item_id: item.id, category_id: item.category.id), class: "btn btn-primary" %>
            </p>

            <% if current_user && current_user.admin? %>
              <%= link_to "Edit", edit_admin_item_path(item) %>
              <%= link_to "Delete", admin_item_path(item, category_id:
                item.category.id), method: :delete %>
            <% end %>
        </div>
    </div>
</div>
