<div class="col-sm-4">
    <div class="thumbnail">
      <img src=<%= item.image_url %> alt="">
        <div class="caption text-center" id="item<%= item.id %>">
            <h3><%= item.name %></h3>
            <p>Offered by <%= item.farmer.name %></p>
            <p><%= item.description %></p>
            <h4><%= number_to_currency(item.price) %></h4>
            <p>
                <%= button_to "Add #{item.name}" , cart_items_path(item_id: item.id, category_id: item.category.id), class: "btn btn-primary outline" %>
            </p>

            <% if admin_authorized? %>
              <%= link_to "Edit", edit_admin_item_path(item) %>
              <%= link_to "Delete", admin_item_path(item, category_id:
                item.category.id), method: :delete %>
            <% end %>

            <% if farmer_admin_authorized? && current_user.farmer.id == item.farmer.id %>
              <%= link_to "Edit", edit_farmer_admin_item_path(item) %>
              <%= link_to "Delete", farmer_admin_item_path(item, category_id:
                item.category.id), method: :delete %>
            <% end %>
        </div>
    </div>
</div>
