<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>
<br>
<br>
  <!-- Page Content -->
  <div class="container">
    <br>
  <div class ="row">

    <div class="col-md-4">
      <div class="well">
        <h2>Item</h2>
        <br>
        <%= form_for @item, url: admin_item_path, method: :patch do |f| %>
            <%= f.text_field :name, class: "form-control input-md", placeholder: "Name" %>
            <%= f.text_field :description, class: "form-control input-md", placeholder: "Description" %>
            <%= f.text_field :price, class: "form-control input-md", placeholder: "Price" %>
            <%= f.text_field :image_url, class: "form-control input-md", placeholder: "Image Url" %>
            <%= f.hidden_field :category_id, value: @category.id %>
            <%= f.submit "Update Item", class: "btn btn-default" %>
        <% end %>
      </div>
    </div><!-- col -->

  </div> <!-- row -->

</div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
