<div class="big-spacer"></div>

<div class = "container">
  <div class = "row">
    <div class="col-md-5 well">
        <h2><%= @item.name%></h2>
        <h4><%= @item.description %></h4>

        <div class="big-spacer"></div>
        <br>

        <div class = "row">
          <div class="col-md-12">
            <div class="col-md-6">
              <h2><%= link_to "-",
                cart_items_path(item_id: @item.id),
                method: :delete, :class => "btn btn-primary btn-sm" %>
                <%= "#{cart.cart_data[@item.id.to_s]}" %>
                <%= link_to "+",
                cart_items_path(item_id: @item.id),
                method: :patch, :class => "btn btn-primary btn-sm" %></h2>
              </div>
              <div class="col-md-6">
                <h2><%= number_to_currency(@item.price) %></h2>
              </div>
          </div>
        </div>

        <div class="big-spacer"></div>
        <br>

        <h4><%= link_to "Back to Fontana", categories_path %> </h4>
        <h4><%= link_to "#{@item.category.name}", @item.category %></h4>
    </div>

    <div class = "col-md-7">
        <img class="img-responsive" src=<%= @item.image_url %> alt="">
    </div>

  </div>
</div>
