<div class = "container">
  <div class = "row">

    <div class="col-md-5 well">
        <h2><%= link_to "Back to TGI Friday's", categories_path %> </h2>
        <h4><%= link_to "#{@item.category.name}", @item.category %></h4>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>

        <h2><%= @item.name%></h2>
        <br>
        <h4><%= @item.description %></h4>
        <div class="big-spacer"></div>
        <h2 class="text-center"><%= number_to_currency(@item.price) %></h2>
    </div>

    <div class = "col-md-7">
      <div class = "row">
        <div class= "img-responsive center-block">
          <img src=<%= @item.image_url %> alt="">
        </div>
      </div>
      <div class="row">
        <div class="big-spacer"></div>
        <div class= "col-md-offset-3 col-md-3">
          <h4><%= link_to "Add",
            cart_items_path(item_id: @item.id),
            method: :patch, :class => "btn btn-primary" %></h4>
        </div>
        <div class= "col-md-3">
          <h3><%= "Qty: #{cart.cart_data[@item.id.to_s]}" %></h3>
        </div>
        <div class= "col-md-3">
          <h4><%= link_to "Remove",
            cart_items_path(item_id: @item.id),
            method: :delete, :class => "btn btn-primary" %></h4>
        </div>
      </div>


      <!-- END OF md 7 -->
    </div>

  </div>
</div>
