<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Page Content -->
<div class="container">

  <header id='categories'>

  <hr>

  <div class = "row">
    <div class="col-md-12 text-center">
      <h1><%= @category.name %></h1>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12">
        <% if farmer_admin_authorized? %>
          <p><%= link_to "Add Item", new_farmer_admin_item_path(@item, category_id: @category.id), class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </header>

  <hr>

  <!-- Items -->
  <div class = "row">
  <% @category.items.each do |item| %>
    <div class="col-sm-4">
      <div class="thumbnail caption text-center">
        <img src=<%= item.image_url %> alt="">
        <h3><%= link_to item.name, category_item_path(@category.id, item.id) %></h3>
        <p>Offered by <%= item.farmer.name %></p>
        <p><%= item.description %></p>
        <h4><%= number_to_currency(item.price) %></h4>
        <p>
          <%= button_to "Add #{item.name}" , cart_items_path(item_id: item.id), class: "btn btn-primary outline" %>
        </p>
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit Item", edit_admin_item_path(item) %>
            <%= link_to "Delete Item", admin_item_path(item), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>

          <% if farmer_admin_authorized? && current_user.farmer.id == item.farmer.id %>
            <%= link_to "Edit", edit_farmer_admin_item_path(item) %>
            <%= link_to "Delete", farmer_admin_item_path(item, category_id:
              item.category.id), method: :delete %>
          <% else %>
            <br>
          <% end %>
      </div>
      </div>
  <% end %>
</div>
  <div class = "row">
    <div class = "col-md-offset-4 col-md-4 text-center">
      <h3><%= link_to "Categories", categories_path, class: "btn btn-lg btn-primary" %></h3>
      </div>
  </div>
</div>
