<div id="order_<%= order.id %>">
  <tr>
    <td><%= link_to "Order ID: #{order.id}", order_path(order) %></td>
    <td><%= "#{order.created_at}" %></td>
    <td><%= order.total_price %></td>
    <td class="text-center">
      <% if order.status == "paid" || order.status == "ordered" %>
        <%= link_to "Cancel", order_path(order, status: "cancelled"), method:
          :patch, class: "btn btn-danger" %>
      <% end %>
      <% if order.status == "ordered" %>
        <%= link_to "Mark as paid", order_path(order, status: "paid"),
          method: :patch, class: "btn btn-primary" %>
      <% end %>
      <% if order.status == "paid" %>
        <%= link_to "Mark as completed", order_path(order, status: "completed"), method: :patch, class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
</div>
