<div id="order_<%= order.id %>">
  <%= link_to "Order ID: #{order.id}", orders_path(order) %>
  <% if order.status == ("paid" || "ordered") %>
    <%= button_to "Cancel", order_path(order, status: "cancelled"), method:
      :patch %>
  <% end %>
  <% if order.status == "ordered" %>
    <%= button_to "Mark as paid", order_path(order, status: "paid"),
      method: :patch %>
  <% end %>
  <% if order.status == "paid" %>
    <%= button_to "Mark as completed", order_path(order, status: "completed"), method: :patch %>
  <% end %>

</div>

<p>Order Total: <%= order.total_price %></p>
