<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @total_price %></span>
      <h3><%="Estimated delivery time: #{@delivery_time} minutes." %></label>
  </article>
  <%= hidden_field_tag "price_in_pennies", @price_in_pennies %>
  <%= hidden_field_tag "order_id", @order.id %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= current_user.full_name %>'s order"
          data-amount=<%= @price_in_pennies %>
          data-locale="auto"></script>
<% end %>
