<!DOCTYPE html>
<html>
<head>
  <title>FasterFood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<%= render "layouts/navbar" unless @disable_nav %>

<%= yield %>

</body>
</html>
